name: CizgiMax Bot

on:
  schedule:
    - cron: '0 12 * * *'
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: Install Dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y google-chrome-stable xvfb
          pip install -r requirements.txt
          sbase install chromedriver

      - name: Run Bot
        run: |
          xvfb-run python main.py

      - name: Commit & Push
        run: |
          git config --global user.name "CizgiMax Bot"
          git config --global user.email "bot@github.com"
          git add cizgimax.m3u
          git commit -m "Update Playlist" || exit 0
          git push
